body {
    background-color: black;
}
#letters {
    width: 100%;
    height: 10%;
    color: white;
    position: relative;
    bottom: 15%;
    display: inline;
}
#words {
    width: 100%;
    height: 10%;
    position: relative;
    bottom: 15%;
    color: white;
    font-size: 2em;
}
#delete {
    color: yellow;
    position: relative;
    left: 90%;
    bottom: 90%;
    border-style: double;
    border-radius: 10%;
}
hr {
    width: 80%;
    height: 2%;
    color: yblue;
}
#letter {
    padding: 10%;
}
p {
    color: black;
    background-color: white;
    text-align: center;
    font-size: 1.5em;
    border-style: double;
    border-radius: 10%;;
}